.group * {
    transform: scale(1);
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* Regra genérica para hover comum */
.motors:hover .motor,
.potenciometers:hover .potenciometer,
.fingers:hover .finger,
.hands:hover .hand,
.unos:hover .uno,
.protoboard:hover,
.controllers:hover .controller,
.strings:hover .string {
    cursor: pointer;
    fill: url(#meuGradiente);;
    filter: url(#shadowBehindGlow);
}

/* Regra genérica para cor */
.motor,
.potenciometer,
.finger,
.uno,
.protoboard,
.controller {
    fill: white;
    filter: url(#shadowBehind);
}

.hand {
    fill: white;
}

.string {
    fill: rgba(255, 255, 255, 1);
    transform: scale(1);
}

.motors:hover .motor {
    transform: scale(1.4);
}

.potenciometer {
    transform: scale(1.5);
}

.potenciometers:hover .potenciometer {
    transform: scale(2.5);
}

.fingers:hover .finger {
    transform: scale(1.2);
}

.hands:hover .hand {
    transform: scale(1);
}

.unos:hover .uno {
    transform: scale(1.2);
}

.protoboard:hover {
    transform: scale(1.2);
}

.controllers:hover .controller {
    transform: scale(1.1);
}

.strings:hover .string {
    transform: scale(1.2);
}