body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(0deg, rgba(4, 8, 42, 255) 0%, rgba(4, 8, 42, 255) 100%);
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: right;
    transform: scaleX(-1);
    z-index: -1;
    pointer-events: none;
}

.body_index::before {
    background-image: url('imagem_vr2.jpg');
}

.body_sobre::before {
    background: radial-gradient(circle, rgb(91, 63, 251) 0%, rgb(51, 19, 126) 50%, rgb(6, 6, 34) 100%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 2rem;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

nav {
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ccc;
}

main {
    margin: 2rem;
    padding: 2rem;
    width: 350px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.main_sobre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 20%;
    padding: 1.5rem;
    margin: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

main h2 {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    margin-top: 0;
    text-align: center;
    width: 100%;
}

.main_sobre h2{
    margin-top: -1rem;
    font-size: 2.5rem;
}

main p {
    transform: translateY(-20%);
}

#particles-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Fica atrás de todo o conteúdo */
    pointer-events: none;
}

.svg {
    position: absolute;
    top: 57%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    margin: 0;
}